body {
    margin: 0;
    padding: 0;

    font-family: 'Open Sans', Arial, sans-serif;
    font-size: 14px;
    line-height: 21px;
    text-transform: uppercase;
    background-color: #f2f2f2;
}

a {
    text-decoration: none;
}

.main-container {
    width: 1200px;
    margin: 0 auto;
}

header {
    padding: 0 73px;
    background-color: #ffffff;
    display: flex;

}

.main-nav {
    font-weight: bold;
    line-height: 26px;
    color: #000000;  
}

.main-header-menu {
    list-style: none;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    padding: 0;  
}

.main-menu-item:not(:last-child) {
    margin-right: 210px;
}

.main-header-logo {
    position: absolute;
    left: 50%;
    margin-left: -68px;    
}

.main-header-menu a {
    color: #000000;
}

.main-header-menu a:hover,
.main-header-menu a:focus {
    color: #81b3d2;
}

.main-header-menu a:active {
    color: rgba(0, 0, 0, 0.3);
}

.current a {
    color: #766357;
}

.promo {
    margin: 0;
    padding-top: 76px;
    height: 510px;
    background-color: #cddfea;
    background-image: 
        url(../img/shape.png),
        url(../img/background.jpg);
    background-repeat: no-repeat; 
    background-position: 100% 100%, 0 -56px;
}

.promo-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: 0;
}

.promo-first {
    width: 190px;
    height: 45px;
    background-image: url(../img/promo-top-welcome.png);
    background-repeat: no-repeat;
    background-position: 0 0;
    margin: 0;
    margin-bottom: 11px;
}

.promo-second {
    width: 256px;
    height: 30px;
    background-image: url(../img/to-the-gorgeous.png);
    background-repeat: no-repeat;
    background-position: 0 0;
    margin: 0;
    margin-bottom: 52px;
}

.promo-sedona {
    width: 458px;
    height: 78px;
    background-image: url(../img/promo-sedona.png);
    background-repeat: no-repeat;
    background-position: 0 0;
    margin: 0;
    margin-bottom: 56px;
}

.promo-bottom {
    width: 296px;
    height: 80px;
    background-image: url(../img/promo-bottom.png);
    background-repeat: no-repeat;
    background-position: 0 0;
    margin: 0;
}

.reasons {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.introduction {
    width: 100%;
    padding-top: 65px;
    padding-bottom: 56px;
    background-color: #ffffff;
}

.introduction p {
    text-align: center;
    line-height: 26px;
}

.slogan {
    margin: 0;
    font-size: 21px;
    font-weight: bold;
    line-height: 26px;
    margin-bottom: 36px;
}

.introduction-text {
    margin: 0;
}

.reason {
    width: 1200px;
    color: #ffffff;
    background-color: #81b3d2;
}

.part-1 {
    background-image: url(../img/layer-1.jpg);
    background-repeat: no-repeat;
    background-position: 400px 0;
}

.reason-text-container {
    width: 400px;
    padding-top: 50px;
    padding-bottom: 54px;
}

.reason-text-container h3,
.reason-text-container-2 h3 {
    text-align: center;
    margin: 0;
    line-height: 21px;
    margin-bottom: 26px;
}

.reason-text-container p,
.reason-text-container-2 p {
    text-align: center; 
    margin: 0 50px;
}

.reason-text-container p:not(:last-child) {
    margin-bottom: 26px;
}

h3 {
    font-size: 21px;
    font-weight: bold;
}

.supply-block {
    background-color: #ffffff;
}

.supply-list {
    list-style: none;
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 0;
}

.supply-list li {
    width: 300px;
    outline: #053652;
    padding: 164px 50px 84px;
    position: relative;
}

.supply-item h3 {
    margin: 0;
    text-align: center;
    margin-bottom: 28px;
}

.supply-item p {
    margin: 0;
    text-align: center;
}

.supply-item::before {
    content: "";
    position: absolute;
    width: 76px;
    height: 76px;
    margin-top: -104px;
    left: 50%;
    margin-left: -38px;
}

.supply-housing::before {
    background-image: url(../img/icon-1.svg);
    background-repeat: no-repeat;
}

.supply-food::before {
    background-image: url(../img/icon-2.svg);
    background-repeat: no-repeat;
}

.supply-souvenirs::before {
    background-image: url(../img/icon-3.svg);
    background-repeat: no-repeat;
}

.part-2 {
    background-image: url(../img/layer-2.jpg);
    background-repeat: no-repeat;
    display: flex;
    justify-content: flex-end;
}

.reason-text-container-2 {
    width: 400px;
    padding-top: 50px;
    padding-bottom: 54px;
}

.reason-text-container-2 p:not(:last-child) {
    margin-bottom: 26px;
}

.last-reasons {
    width: 1200px;
    background-color: #eeeeee;
    min-height: 256px;
}

.last-reasons-list {
    margin: 0;
    padding: 0;
    list-style: none;
    width: 1200px;
    display: flex;
    justify-content: space-between;
}

.last-reason-item {
    width: 400px;
    text-align: center;
}

.last-reason-item h3 {
    margin: 0;
    margin-top: 50px;
}

.last-reason-item p {
    margin: 0;
    margin-top: 26px;
    line-height: 21px;
    margin-left: 58px;
    margin-right: 58px;
}

.hotel-search {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}

.search-data {
    width: 1200px;
    min-height: 292px;
    background-color: #ffffff;
    margin: 0;
    padding: 0;
}

.search-data h2 {
    font-size: 30px;
    font-weight: bold;
    margin: 0;
    text-align: center;
    margin-top: 60px;
}

.search-data p {
    margin: 0;
    text-align: center;
    margin-top: 40px;
}

button {
    border: none;
    font-family: 'Open Sans', Arial, sans-serif;
    text-transform: uppercase;
    color: #ffffff;
    font-weight: bold;
}

.hotel-search-button {
    padding: 0;
    width: 568px;
    height: 86px;
    background-color: #766357;
    font-size: 21px;
    line-height: 26px;
    margin-left: 316px;
    margin-top: 62px;

}

.hotel-search-button:hover,
.hotel-search-button:focus {
    background-color: #604e43;
}

.hotel-search-button:active {
    background-color: #503e33;
    color: #857871;
}

.form-section {
    width: 568px;
    min-height: 395px;
    background-color: #ffffff;
    margin-left: 316px;
}

.form-section form {
    margin-top: 55px;
    min-height: 290px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.short-area-container {
    display: flex;
    margin-top: 30px;
}

.form-section p {
    margin: 0;
    padding: 0;
}

.form-section button {
    margin: 0;
    padding: 0;
    margin-top: 54px;
}

.long-area:nth-child(2) {
    margin-top: 30px;
}

.form-section input {
    border: none;
    background-color: #f2f2f2;
    height: 38px;
}

.form-section label {
    font-weight: bold;
    line-height: 26px;
}

.long-area input {
    width: 346px;
    margin-left: 18px;
}

.short-area input {
    width: 114px;
    margin-left: 18px;
}

.short-area:first-child input {
    margin-right: 30px;
}

.short-area label {
    margin-left: 20px;
}

.search-button {
    background-color: #81b3d2;
    width: 458px;
    height: 58px;
    font-size: 21px;
    line-height: 26px;
}

.search-button:hover,
.search-button:focus {
    background-color: #669ec0;
}

.search-button:active {
    background-color: #5496bd;
    color: rgba(255, 255, 255, 0.3);
}

.map-section {
    width: 1200px;
    height: 593px;
    background-image: url(../img/map.jpg);
    background-repeat: no-repeat;
}

.main-footer {
    width: 1200px;
    min-height: 120px;
    background-color: rgba(255, 255, 255, 0.9);
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.visit-sedona {
    font-weight: bold;
    font-size: 21px;
    line-height: 26px;
    margin: 0;
    margin-left: 130px;
}

.contacts {
    margin-left: 256px;
}

.social-button {
    display: inline-block;
    width: 46px;
    height: 48px;
    background-color: #81b3d2;
    font-size: 0;
}

.social-button:hover,
.social-button:focus {
    background-color: #669ec0;
}

.social-button:active {
    background-color: #5496bd;
}

.creators {
    margin-left: 228px;
}

.creators p {
    line-height: 26px;
    margin: 0;
    padding: 0;
}

.filters {
    background-image: url(../img/filter-background.jpg);
    background-position: 0 0;
    background-repeat: no-repeat;
}

.filters fieldset {
    border: none;
}

.filters legend {
    color: #ffffff;
    font-size: 16px;
    font-weight: bold;
}

.filters ul {
    list-style: none;
}

.filters label {
    color: #ffffff;
}


.range-limit {
    width: 318px;
    height: 36px;
    border: 2px solid #ffffff;
    border-radius: 2px;
}

.range-limit span {
    color: #ffffff;
}

.filters button {
    width: 136px;
    height: 34px;
    border: 2px solid #ffffff;
    border-radius: 2px;
    color: #ffffff;
    background-color: rgba(0, 0, 0, 0);
    font-weight: normal;
}

.filters button:hover,
.filters button:focus {
    color: #000000;
    background-color: #ffffff;
}

.search-results {
    width: 1200px;
    border-bottom: 1px solid #e5e5e5;
}

}

.search-results h2 {
    font-size: 21px;
    font-weight: bold;
    line-height: 26px;
}

.sorting-list,
.sorting-elements,
.hotels-list {
    list-style: none;
}

.sorting-list li {
    font-size: 12px;
    line-height: 18px;
}

.main-sorting-item {
    color: #000000;
}

.sorting-item a {
    color: rgba(0, 0, 0, 0.3);
    border-bottom: 1px dashed rgba(0, 0, 0, 0.3);
}

.sorting-item a:hover,
.sorting-item a:focus {
    color: #81b3d2;
    border-bottom: 1px dashed #81b3d2;

}

.sorting-item a:active {
    color: #000000; 
    border: none;
}

.sorting-item-current a {
    color: #81b3d2;
}

.sorting-elements li {
    font-size: 0;
}

.hotels {
    width: 1200px;
}

.hotel-title a {
    font-size: 21px;
    font-weight: bold;
    color: #000000;
    line-height: 26px;
}

.hotel-title a:hover,
.hotel-title a:focus {
    color: #81b3d2;
}

.hotel-title a:active {
    color: rgba(0, 0, 0, 0.3);
}

.info-button {
    display: inline-block;
    padding: 3px 16px;
    background-color: #81b3d2;
    font-weight: bold;
    color: #ffffff;
}

.info-button:hover,
.info-button:focus {
    background-color: #669ec0;
}

.info-button:active {
    background-color: #5496bd;
    color: rgba(255, 255, 255, 0.3);
}

.reservation-button {
    display: inline-block;
    padding: 3px 16px;
    background-color: #766357;
    font-weight: bold;
    color: #ffffff;
}

.reservation-button:hover,
.reservation-button:focus {
    background-color: #604e43;
}

.reservation-button:active {
    background-color: #503e33;
    color: rgba(255, 255, 255, 0.3);
}

.rating {
    display: inline-block;
    padding: 3px 14px;
    background-color: #f2f2f2;
}

article {
    border-bottom: 1px solid #e5e5e5;
}

.visually-hidden {
    position: absolute;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
}