body {
    margin: 0;
    padding: 0;

    font-family: 'Open Sans', Arial, sans-serif;
    font-size: 14px;
    text-transform: uppercase;
}

a {
    text-decoration: none;
}

.main-nav {
    font-weight: bold;
    color: #000000;
    background-color: #ffffff;
}

.main-header-menu {
    list-style: none;
}

.main-header-menu a {
    color: #000000;
}

.main-header-menu a:hover,
.main-header-menu a:focus {
    color: #81b3d2;
}

.main-header-menu a:active {
    color: rgba(0, 0, 0, 0.3);
}

.current a {
    color: #766357;
}

.promo {
    width: 1200px;
    height: 510px;
    background-color: #cddfea;
    background-image: 
        url(../img/shape.png),
        url(../img/background.jpg);
    background-repeat: no-repeat; 
}

.promo-first {
    width: 190px;
    height: 45px;
    background-image: url(../img/promo-top-welcome.png);
    background-repeat: no-repeat;
    background-position: 0 0;
}

.promo-second {
    width: 256px;
    height: 30px;
    background-image: url(../img/to-the-gorgeous.png);
    background-repeat: no-repeat;
    background-position: 0 0;
}

.promo-sedona {
    width: 458px;
    height: 78px;
    background-image: url(../img/promo-sedona.png);
    background-repeat: no-repeat;
    background-position: 0 0;
}

.promo-bottom {
    width: 296px;
    height: 80px;
    background-image: url(../img/promo-bottom.png);
    background-repeat: no-repeat;
    background-position: 0 0;
}

.introduction {
    width: 1200px;
    height: 217px;
    background-color: #ffffff;
}

.introduction p {
    text-align: center;
}

.slogan {
    font-size: 21px;
    font-weight: bold;
}

.reason {
    width: 1200px;
    height: 256px;
    color: #ffffff;
    background-color: #81b3d2;
}

.part-1 {
    background-image: url(../img/layer-1.jpg);
    background-repeat: no-repeat;
    background-position: 400px 0;
}

h3 {
    font-size: 21px;
    font-weight: bold;
}

.supply-block {
    width: 1200px;
    height: 330px;
}

.supply-list {
    list-style: none;
}

.part-2 {
    background-image: url(../img/layer-2.jpg);
    background-repeat: no-repeat;
}

.last-reasons {
    width: 1200px;
    background-color: #eeeeee;
}

.last-reasons-list {
    list-style: none;
}

.search-data {
    width: 1200px;
    height: 292px;
}

.hotel-search h2 {
    font-size: 30px;
    font-weight: bold;
}

button {
    border: none;
    font-family: 'Open Sans', Arial, sans-serif;
    text-transform: uppercase;
    color: #ffffff;
    font-weight: bold;
}

.hotel-search-button {
    width: 568px;
    height: 86px;
    background-color: #766357;
    font-size: 21px;

}

.hotel-search-button:hover,
.hotel-search-button:focus {
    background-color: #604e43;
}

.hotel-search-button:active {
    background-color: #503e33;
    color: #857871;
}

.form-section {
    width: 568px;
    height: 395px;
}

.form-section input {
    border: none;
    background-color: #f2f2f2;
    height: 38px;
}

.form-section label {
    font-weight: bold;
}

.long-area input {
    width: 346px;
}

.short-area input {
    width: 114px;
}

.search-button {
    background-color: #81b3d2;
    width: 458px;
    height: 58px;
    font-size: 21px;
}

.map-section {
    width: 1200px;
    height: 748px;
    background-image: url(../img/map.jpg);
}

