body {
    margin: 0;
    padding: 0;

    font-family: 'Open Sans', Arial, sans-serif;
    font-size: 14px;
    line-height: 21px;
    text-transform: uppercase;
    background-color: #f2f2f2;
}

a {
    text-decoration: none;
}

header {
    width: 1200px;
    min-height: 56px;
    background-color: #ffffff;

}

.main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}


.main-nav {
    width: 1056px;
    font-weight: bold;
    line-height: 26px;
    color: #000000;
    
    
}

.main-header-menu {
    list-style: none;
    
    
}

.main-header-logo {}

.main-header-menu a {
    color: #000000;
}

.main-header-menu a:hover,
.main-header-menu a:focus {
    color: #81b3d2;
}

.main-header-menu a:active {
    color: rgba(0, 0, 0, 0.3);
}

.current a {
    color: #766357;
}

.promo {
    width: 1200px;
    height: 510px;
    background-color: #cddfea;
    background-image: 
        url(../img/shape.png),
        url(../img/background.jpg);
    background-repeat: no-repeat; 
    background-position: 100% 100%, 0 -56px;
    
    
}

.promo-first {
    width: 190px;
    height: 45px;
    background-image: url(../img/promo-top-welcome.png);
    background-repeat: no-repeat;
    background-position: 0 0;
   
       
}

.promo-second {
    width: 256px;
    height: 30px;
    background-image: url(../img/to-the-gorgeous.png);
    background-repeat: no-repeat;
    background-position: 0 0;
    
}

.promo-sedona {
    width: 458px;
    height: 78px;
    background-image: url(../img/promo-sedona.png);
    background-repeat: no-repeat;
    background-position: 0 0;
    
}

.promo-bottom {
    width: 296px;
    height: 80px;
    background-image: url(../img/promo-bottom.png);
    background-repeat: no-repeat;
    background-position: 0 0;
    
}

.reasons {
    

}

.introduction {
    width: 1200px;
    height: 217px;
    background-color: #ffffff;
}

.introduction p {
    text-align: center;
    line-height: 26px;
}

.slogan {
    
    font-size: 21px;
    font-weight: bold;
    line-height: 26px;
}

.introduction-text {
    
}

.reason {
    width: 1200px;
    height: 256px;
    color: #ffffff;
    background-color: #81b3d2;
}

.part-1 {
    background-image: url(../img/layer-1.jpg);
    background-repeat: no-repeat;
    background-position: 400px 0;
}

.reason-text-container {
    width: 400px;
}


.reason-text-container h3,
.reason-text-container p {
    text-align: center; 
    padding-left: 60px;
    padding-right: 60px;
}

.reason-text-container h3 {
    margin-top: 46px;
}

h3 {
    font-size: 21px;
    font-weight: bold;
}

.supply-block {
    width: 1200px;
    height: 330px;
    

.supply-list {
    width: 1200px;
    list-style: none;
    
}

.container-s {
    width: 288px;
    height: 190px;
    text-align: center;
}

.supply-list li {
    width: 400px; 
    min-height: 330px;
    
}



.part-2 {
   
}

.reason-img {
    width: 800px;
    background-image: url(../img/layer-2.jpg);
    background-repeat: no-repeat;
}


.last-reasons {
    width: 1200px;
    background-color: #eeeeee;
    height: 256px;
}

.last-reasons-list {
    list-style: none;
    width: 1200px;
    
}

.last-reason-item {
    width: 400px;
    text-align: center;
}

.search-data {
    width: 1200px;
    height: 292px;
}

.hotel-search h2 {
    font-size: 30px;
    font-weight: bold;
}

button {
    border: none;
    font-family: 'Open Sans', Arial, sans-serif;
    text-transform: uppercase;
    color: #ffffff;
    font-weight: bold;
}

.hotel-search-button {
    width: 568px;
    height: 86px;
    background-color: #766357;
    font-size: 21px;
    line-height: 26px;

}

.hotel-search-button:hover,
.hotel-search-button:focus {
    background-color: #604e43;
}

.hotel-search-button:active {
    background-color: #503e33;
    color: #857871;
}

.form-section {
    width: 568px;
    height: 395px;
}

.form-section input {
    border: none;
    background-color: #f2f2f2;
    height: 38px;
}

.form-section label {
    font-weight: bold;
    line-height: 26px;
}

.long-area input {
    width: 346px;
}

.short-area input {
    width: 114px;
}

.search-button {
    background-color: #81b3d2;
    width: 458px;
    height: 58px;
    font-size: 21px;
    line-height: 26px;
}

.search-button:hover,
.search-button:focus {
    background-color: #669ec0;
}

.search-button:active {
    background-color: #5496bd;
    color: rgba(255, 255, 255, 0.3);
}

.map-section {
    width: 1200px;
    height: 593px;
    background-image: url(../img/map.jpg);
    background-repeat: no-repeat;
}

.main-footer {
    width: 1200px;
    height: 120px;
    background-color: rgba(255, 255, 255, 0.9);
}

.visit-sedona {
    font-weight: bold;
    font-size: 21px;
    line-height: 26px;
}

.social-button {
    display: inline-block;
    width: 46px;
    height: 48px;
    background-color: #81b3d2;
    font-size: 0;
}

.social-button:hover,
.social-button:focus {
    background-color: #669ec0;
}

.social-button:active {
    background-color: #5496bd;
}

.creators p {
    line-height: 26px;
}

.filters {
    background-image: url(../img/filter-background.jpg);
    background-position: 0 0;
    background-repeat: no-repeat;
}

.filters fieldset {
    border: none;
}

.filters legend {
    color: #ffffff;
    font-size: 16px;
    font-weight: bold;
}

.filters ul {
    list-style: none;
}

.filters label {
    color: #ffffff;
}


.range-limit {
    width: 318px;
    height: 36px;
    border: 2px solid #ffffff;
    border-radius: 2px;
}

.range-limit span {
    color: #ffffff;
}

.filters button {
    width: 136px;
    height: 34px;
    border: 2px solid #ffffff;
    border-radius: 2px;
    color: #ffffff;
    background-color: rgba(0, 0, 0, 0);
    font-weight: normal;
}

.filters button:hover,
.filters button:focus {
    color: #000000;
    background-color: #ffffff;
}

.search-results {
    width: 1200px;
    border-bottom: 1px solid #e5e5e5;
}

}

.search-results h2 {
    font-size: 21px;
    font-weight: bold;
    line-height: 26px;
}

.sorting-list,
.sorting-elements,
.hotels-list {
    list-style: none;
}

.sorting-list li {
    font-size: 12px;
    line-height: 18px;
}

.main-sorting-item {
    color: #000000;
}

.sorting-item a {
    color: rgba(0, 0, 0, 0.3);
    border-bottom: 1px dashed rgba(0, 0, 0, 0.3);
}

.sorting-item a:hover,
.sorting-item a:focus {
    color: #81b3d2;
    border-bottom: 1px dashed #81b3d2;

}

.sorting-item a:active {
    color: #000000; 
    border: none;
}

.sorting-item-current a {
    color: #81b3d2;
}

.sorting-elements li {
    font-size: 0;
}

.hotels {
    width: 1200px;
}

.hotel-title a {
    font-size: 21px;
    font-weight: bold;
    color: #000000;
    line-height: 26px;
}

.hotel-title a:hover,
.hotel-title a:focus {
    color: #81b3d2;
}

.hotel-title a:active {
    color: rgba(0, 0, 0, 0.3);
}

.info-button {
    display: inline-block;
    padding: 3px 16px;
    background-color: #81b3d2;
    font-weight: bold;
    color: #ffffff;
}

.info-button:hover,
.info-button:focus {
    background-color: #669ec0;
}

.info-button:active {
    background-color: #5496bd;
    color: rgba(255, 255, 255, 0.3);
}

.reservation-button {
    display: inline-block;
    padding: 3px 16px;
    background-color: #766357;
    font-weight: bold;
    color: #ffffff;
}

.reservation-button:hover,
.reservation-button:focus {
    background-color: #604e43;
}

.reservation-button:active {
    background-color: #503e33;
    color: rgba(255, 255, 255, 0.3);
}

.rating {
    display: inline-block;
    padding: 3px 14px;
    background-color: #f2f2f2;
}

article {
    border-bottom: 1px solid #e5e5e5;
}

.visually-hidden {
    position: absolute;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
}